a.door4-mobile-nav-toggle {
	display: none;
	text-decoration: none;
}

a.door4-mobile-nav-toggle, a.door4-mobile-nav-toggle:focus {
	background-color: #00BEBE;
	color: #fff;
    padding: 0.8em;
	left: 0;
	position: fixed;
	text-decoration: none;
	top: 0;
	z-index: 102;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

a.door4-mobile-nav-toggle:hover {
	background-color: #009F9F;
	text-decoration: none;
}

a.door4-mobile-nav-toggle.activated {
	margin-left: 225px;
}

a.door4-mobile-nav-toggle i {
	font-size: 18px;
}

div.door4-mobile-nav-push .door4-mobile-nav-overlay {
	background-color: transparent;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

div.door4-mobile-nav-push .door4-mobile-nav-overlay.overlaid {
	background-color: #8E8E8E;
	background-color: rgba(0,0,0,0.6);
	box-shadow: inset 0px 0px 70px 35px #222;
	-moz-box-shadow: inset 0px 0px 70px 35px #222;
	-webkit-box-shadow: inset 0px 0px 70px 35px #222;
	-o-box-shadow: inset 0px 0px 70px 35px #222;
	margin-left: 225px;
	z-index: 101;
}

div.door4-mobile-nav-push {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div.door4-mobile-nav-push-inner {
	position: relative;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

div.door4-mobile-nav-push-inner.pushed-aside {
	margin-left: 225px;
}

div.door4-mobile-nav {
	background-color: #00BEBE;
	font-size: 15px;
	height: 100%;
	margin-left: 0;
	margin-top: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 15em;
	left: -15em;
	z-index: 103;
	-webkit-transition: left 0.4s;
	-moz-transition: left 0.4s;
	-o-transition: left 0.4s;
	transition: left 0.4s;
}

div.door4-mobile-nav.activated {
	left: 0;
}

.admin-bar div.door4-mobile-nav, .admin-bar a.door4-mobile-nav-toggle {
	top: 32px;
}

div.door4-mobile-nav ul.mobile-nav-list {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

div.door4-mobile-nav ul.mobile-nav-list.obscured {
	background-color: #009F9F;
}

div.door4-mobile-nav ul.mobile-nav-list li {
	border-bottom: 1px solid #009F9F;
	list-style-type: none;
	width: 100%;
}

div.door4-mobile-nav ul.mobile-nav-list li ul.sub {
	background-color: #00BEBE;
	position: absolute;
	height: 100%;
	left: -100%;
	top: 0;
	width: 100%;
	margin: 0;
	padding-left: 0;
	-webkit-transition: background 0.4s, left 0.4s;
	-moz-transition: background 0.4s, left 0.4s;
	-o-transition: background 0.4s, left 0.4s;
	transition: background 0.4s, left 0.4s;
}

div.door4-mobile-nav ul.mobile-nav-list li ul.sub.obscured {
	background-color: #009F9F;
}

div.door4-mobile-nav ul.mobile-nav-list li ul.sub.rolled_out {
	left: 0%; 
}

div.door4-mobile-nav ul.mobile-nav-list a.mobile-nav-link {
	background-color: transparent;
	color: #fff;
	display: block;
	font-size: 1.1em;
	padding: 0.6em 3% 0.6em 3%;
	text-decoration: none;
	width: 100%;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

div.door4-mobile-nav ul.mobile-nav-list h4.door4-mobile-nav-title {
	color: #fff;
	font-size: 20px;
	margin: 0;
	padding: 0.5em;
}

div.door4-mobile-nav ul.mobile-nav-list a.mobile-nav-link:hover {
	background-color: #009F9F;
}

div.door4-mobile-nav ul.mobile-nav-list a.mobile-nav-link span {
	display: inline-block;
	width: 11em;
}

div.door4-mobile-nav ul.mobile-nav-list a.mobile-nav-link i {
	color: #008b8b;
	display: inline-block;
	float: left;
	font-family: 'D4MMFontAwesome';
	margin-top: 2px;
	width: 1em;
}

div.door4-mobile-nav ul.mobile-nav-list a.mobile-back-link {
	background-color: #00ADAD;
	font-size: 0.8em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

div.door4-mobile-nav ul.mobile-nav-list a.mobile-back-link i {
	float: right;
}

@media only screen 
and (max-device-width : 768px) {

	a.door4-mobile-nav-toggle {
		display: block;
	}
	
	a.door4-mobile-nav-toggle i {
		font-size: 1.4em;
	}

}